.banner-container {
    background-image: url(../images/banner1.png);
    width: 100%;
    height: 366px;
    background-size: cover;
}



.link-button-download {
    padding: 15px;
    background: #00A9D4;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    border-radius: 12px;
    display: block;
    width: 320px;
    text-align: center;
    margin: 20px auto;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 2;
    position: relative;
    box-shadow: 2px 4px 6px 5px rgba(25,25,25,0.55);
}

.link-button-download:hover {
    background: #00729D;
    transform: scale(0.98);
    box-shadow: 2px 4px 5px 1px rgba(25,25,25,0.55);
    color:#00bbff

}



.container {
    text-align: center;
}

.texturepack1 {
    color: white;
    text-align: center;
}

.texturepack2 {
    color: white;
    text-align: center;
}

.blockbench {
    width: 80px;
    height: auto;
    text-align: right;
}

.blockbench-position {
    text-align: center;
}

hr {
    color: white;
    font-weight: bold;
}