
.banner-container-start {
    background-image: url(images/TradinghallNacht.png);
    width: 100%;
    height: calc(var(--header-height) - var(--navbar-height));
    background-size: cover;
}

.main-start {
    height: var(--header-height);
    width: 100%;
}

.link-container {
    justify-content: center;
    display: flex;
    margin-top: 48px;
}

.start-projects-box {
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    margin-top: 80px;
}

.start-project-link {
    display: flex;
    height: 100%;
    width: 25%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
    transition: background-size 0.6s ease-in-out;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Dangrek', sans-serif;
    text-decoration: none;
    justify-content: center;
}

.start-project-link:hover {
    background-size: 130%;
}

.start-project-link.link1 {
    background-image: url(images/Nether.jpeg);
}

.start-project-link.link2 {
    background-image: url(images/Nether.jpeg);    
}

.start-project-link.link3 {
    background-image: url(images/Nether.jpeg);    
}

.start-project-link .content {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    justify-content: space-around;
}

.start-project-link .content .label {
    width: 50%;
    text-align: right;
}

.ghast-theme-image {
    width: 100px;
    height: 120px;
}

.netherite-counter-box {
    display: flex;
    border-radius: 20px;
    align-items: stretch;
    overflow: hidden;
    width: 60%;
    height: 50px;
    margin-top: 50px;
    margin-left: 100px;
}

.netherite-counter-box .netherite-counter {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(70, 72, 77);
    width: 85%;
    height: 100%;
}

.netherite-counter-box .netherite-counter div {
    padding: 0 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.netherite-counter-box .netherite-link {
    display: flex;
    background-color: #3bbe54;
    width: 15%;
    height: 100%;
    align-items: center;    
}

.netherite-counter-box .netherite-link div {
    padding: 0 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.netherite-counter-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
}