
.banner-container-start {
    background-image: url(images/TradinghallTag.png);
    width: 100%;
    height: calc(var(--header-height) - var(--navbar-height));
    background-size: cover;

}

.main-start {
    height: var(--header-height);
    width: 100%;
}

.link-container {
    justify-content: center;
    display: flex;
    margin-top: 48px;
}

.start-projects-box {
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    /* padding-top: 85px; */
    height: 100px;
}

.start-theme-image {
    height: 100%;
    width: 25%;
    border-radius: 20px;
}

